<template>
    <div>
      <div class="vote-wrapper">
        <div id="dynamic-component">
          <button
            v-for="tab in tabs"
            v-bind:key="tab"
            v-bind:class="['tab-button', { active: currentTab === tab }]"
            v-on:click="changeTab(tab)"
          >
            {{ tab.replace(/([A-Z])/g, ' $1').trim() }}
          </button>
        </div>
        <keep-alive>
          <component v-bind:is="currentTabComponent" class="tab"></component>
        </keep-alive>
      </div>
    </div>
</template>

<script>
import Presidential from '@/components/Presidential'
import VicePresident from '@/components/VicePresident'
import GeneralSecretary from '@/components/GeneralSecretary'
import FinancialSecretary from '@/components/FinancialSecretary'
import PublicRelations from '@/components/PublicRelations'
import GeneralOrganizer from '@/components/GeneralOrganizer'
import CordinatingSecretary from '@/components/CordinatingSecretary'
import SecretaryForEducation from '@/components/SecretaryForEducation'
import PressAndInformation from '@/components/PressAndInformation'
import ComputerPrefect from '@/components/ComputerPrefect'
import UtilityPrefect from '@/components/UtilityPrefect'


export default {
    name: 'Voting',
    data: function () {
        return {
            tabs: ["Presidential", "VicePresident", "GeneralSecretary", "FinancialSecretary", "PublicRelations", "GeneralOrganizer", "CordinatingSecretary", "SecretaryForEducation", "PressAndInformation", "ComputerPrefect", "UtilityPrefect"]
        }
    },
    computed: {
        currentTab: function () {
          return this.$store.state.currentTab
        },
        currentTabComponent: function() {
          return this.currentTab;
        }
    },
    components: {
        Presidential,
        VicePresident,
        GeneralSecretary,
        FinancialSecretary,
        PublicRelations,
        GeneralOrganizer,
        CordinatingSecretary,
        SecretaryForEducation,
        PressAndInformation,
        ComputerPrefect,
        UtilityPrefect
    },
    methods: {
      changeTab: function (tab) {
        this.$store.commit('changeTab', tab)
      }
    }
}
</script>

<style scoped>
    .vote-wrapper {
        display: flex;
        border: none;
    }

    #dynamic-component {
        display: flex;
        flex-direction: column;
        width: 200px;
        border: none;
    }

    .tab-button {
        padding: 8px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer;
        background: #f0f0f0;
        margin-bottom: -1px;
        margin-right: -1px;
        margin-top: 8px;
        text-align: left;
        font-size: 12px;
        outline: none;
      }
      .tab-button:hover {
        background: #e0e0e0;
      }
      .tab-button.active {
        background: #1dbf73;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
      }
</style>