<template>
<div class="login-wrapper">
    <h3>E-voting</h3>
    <div class="login-page">
        <input v-model="mobile_number" placeholder="Mobile Number"/>
        <button @click="generateOTP()">Send OTP</button>
    </div>
</div>
</template>

<script>
export default {
    name: 'Login',
    data: function () {
        return {
            mobile_number: ''
        }
    },
    methods: {
         generateOTP() { 
            if(this.mobile_number == '') {
                return 
            }

            var digits = '0123456789'
            var mobile_number = this.mobile_number.substring(1)

            let OTP = '' 
            for (let i = 0; i < 4; i++ ) { 
                OTP += digits[Math.floor(Math.random() * 10)]
            }
            this.$store.commit('setOTP', OTP)
            this.$router.push("Otp")
            console.log(OTP)
            var data = null

            var xhr = new XMLHttpRequest()
            xhr.withCredentials = false

            xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE)
            {
                console.log(this.responseText)
            }
            })

            xhr.open("POST", "https://2factor.in/API/V1/22afa221-5756-11eb-8153-0200cd936042/SMS/+233" + mobile_number + "/" + OTP)
            xhr.send(data)
        } 
    }
}
</script>

<style scoped>
    h3 {
        color: #696969;
        font-weight: 700;
        font-size: 26px;
        text-shadow: none;
        text-align: center;
        line-height: 32px;
    }

    .login-wrapper {
        display: table;
        margin: 0 auto;
        margin-top: 80px;
    }

    .login-page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        height: 180px;
        box-shadow: 0px 2px 24px #f1f1f1, 2px 0px 24px #f1f1f1;
        /*border: 1px solid #c5c6c9;*/
        width: 400px;
    }

    input {
        box-sizing: border-box;
        width: 320px;
        padding: 8px 12px;
        border: 1px solid #c5c6c9;
        border-radius: 4px;
        box-shadow: none;
        font: inherit;
        color: #404145;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin: 8px 12px;
        background: #f1f1f1;
    }

    button {
        position: relative;
        padding: 12px 24px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
        background-color: #1dbf73;
        color: #fff;
        display: flex!important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        white-space: nowrap;
        width: 320px;

    }
</style>