<template>
    <div class="wrapper">
        <div class="otp-page">
            <h3>Enter One Time Password</h3>
            <v-otp-input
                ref="otpInput"
                input-classes="otp-input"
                separator="--"
                :num-inputs="4"
                :should-auto-focus="true"
                :is-input-num="true"
                @on-change="handleOnChange"
                @on-complete="handleOnComplete"
            />
            <span v-if="otpError">Please check OTP and try again</span>
        </div>
    </div>
</template>

<script>
import OtpInput from "@bachdgvn/vue-otp-input"

export default {
    name: 'Otp',
    data: function() {
        return {
            otpError: false
        }
    },
    components: {
        'v-otp-input' : OtpInput
    },
    methods: {
        handleOnComplete ( value ) 
        {
            if( this.$store.state.OTP == value )
                this.$router.push('Voting')
            else 
                this.otpError = true
        },
        handleOnChange(value) {
            console.log('OTP changed: ', value);
        },
        handleClearInput() {
            this.$refs.otpInput.clearInput();
        },
    },
}
</script>

<style scoped>

    span {
        color:lightcoral;
        line-height: 32px;
    }

    .wrapper {
        display: table;
        margin: 0 auto;
        margin-top: 80px;
    }

    .otp-page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        height: 180px;
        box-shadow: 0px 2px 24px #f1f1f1, 2px 0px 24px #f1f1f1;
        /*border: 1px solid #c5c6c9;*/
        width: 1200px;
    }

    .otp-input {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 0 10px;
        font-size: 20px;
        border-radius: 20px;
        border: 1px solid red;
        text-align: center;
    }

    h3 {
        line-height: 32px;
        color: #696969;
        font-size: 26px;
    }
</style>