<template>
    <div class="main-wrapper">
        <div :key="candidate.id" v-for="candidate in candidates" class="voting-container">
            <div class="background">
                <div id="img-container">
                    <img src="../../assets/images/profile.png"/>
                </div>
                <h3>{{candidate.name}}</h3>
                <h3>Text</h3>
                <div class="team">
                    <h4 id="team">{{candidate.team}}</h4>
                </div>
            </div>
            <div class="foreground">
                <div class="inner-sub-foreground">
                    <div class="sub-background"></div>
                    <div class="sub-foreground" v-if="!voted">
                        <div>
                            <img id="vote-img" style="padding: 12px 32px; height: 100px; width: 100px; object-fit: cover;" src="../../assets/images/fingerprint.png"/>
                        </div>
                        <div>
                            <button id="vote-btn" @click="changepai()">Vote</button>
                        </div>
                    </div>
                    <div class="sub-foreground" v-else>
                        <div>
                            <button id="voted-btn">You already Voted</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
export default {
    name: 'PressAndInformation',
        data: function() {
        return {
            candidates: [
                {
                    id: 1,
                    name: "Owiredu Richard",
                    team: "Green team"
                },
                {
                    id: 2,
                    name: "Owusu Agyapong",
                    team: "Gold team"
                },
                {
                    id: 3,
                    name: "Jessica Kwakyewaa",
                    team: "Yellow team"
                },
                {
                    id: 4,
                    name: "Regina Owusu",
                    team: "Blue team"
                }, 
                {
                    id: 5,
                    name: "Mavis Agyare",
                    team: 'Red team'
                }
            ]
        }
    }, 
    methods: {
        changepai() {
            this.$store.commit('changepai')
        }
    },
    computed: {
        voted() {
            return this.$store.state.paiVote 
        }
    }
}

</script>
<style scoped>
    #team {
        font-size: 12px;
        padding: 8px 12px;
    }

    .team {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: #3a3a3a;
        width: 180px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    h3, h4 {
        color: #696969;
        padding: 4px 12px;
    }

#vote-btn {
        width: 120px;
        height: 40px;
        padding: 12px 24px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
        background-color: #1dbf73;
        color: #fff;
        display: flex!important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        white-space: nowrap;
    }

    #voted-btn {
        height: 40px;
        width: 160px;
        padding: 12px 24px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
        background-color: #ec7063;
        color: #fff;
        display: flex!important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        white-space: nowrap;
    }

    #img-container {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        overflow: hidden;
    }

    .inner-sub-foreground {
        position: relative;
    }

    .sub-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 120;
        background: #000;
        opacity: 0.419;
        height:250px;
        width: 180px;
        border-radius: 20px;
    }

    .sub-foreground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 140;
        width: 180px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 150px;
        width: 180px;
        object-fit: cover;
    }

    .main-wrapper {
        border: none;
        padding: 12px 32px;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        justify-content: flex-start;
    }

    .voting-container {
        width: 180px;
        height: 250px;
        position: relative;
        border: none;
        top: 0;
        left: 0;
        box-shadow: 0px 5px 5px #f4f4f4;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
        margin-right: 30px;

    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
        width: 180px;
    }

    .foreground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        height: 250px;
        opacity: 0;
    }

    .foreground:hover {
        opacity: 1;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
    }

</style>