<template>
    <div>
      <div class="hero-wrapper">
        <div class="hero-header">
          <h2>CCHN - Winneba</h2>
          <h4>College of Community Health Nursing<br>2020/21 Academic year Elections</h4>
        </div>
      </div>
      <div class="page-width">
        <button
          v-for="tab in tabs"
          v-bind:key="tab"
          v-bind:class="['tab-button', { active: currentTab === tab }]"
          v-on:click="currentTab = tab"
        >
          {{ tab.replace(/([A-Z])/g, ' $1').trim()  }}
        </button>

      <keep-alive>
        <component v-bind:is="currentTabComponent" class="tab"></component>
      </keep-alive>
      </div>
    </div>
</template>

<script>
import CoreMembers from '@/components/CoreMembers'
import AuxilliaryMembers from '@/components/AuxilliaryMembers'

export default {
    name: 'Voting',
    data: function () {
        return {
            currentTab: "CoreMembers",
            tabs: ["CoreMembers", "AuxilliaryMembers"]
        }
    },
    computed: {
        currentTabComponent: function() {
        return this.currentTab;
        }
    },
    components: {
        CoreMembers,
        AuxilliaryMembers,
    }
}
</script>

<style scoped>
    .hero-header h2, .hero-header h4 {
      color: #fff;
    }

    .hero-header {
      width: 1200px;
      top: 0;
      left: 0;
      z-index: 1000;
      padding: 12px 8px;
      box-sizing: border-box;
      line-height: 24px;
    }

    .hero-wrapper {
      /*background-image: url('../../assets/images/home.png');*/
      width: 100%;
      background-color: #0a1a26; /* Used if the image is unavailable */
      height: 500px; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .page-width {
        width: 1200px;
        margin: 0 auto;
        display: table;
        margin-top: -28px;
    }

    .tab-button {
        padding: 6px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer;
        background: #f0f0f0;
        margin-top: -1px;
        margin-right: -1px;
        outline: none;
      }
      .tab-button:hover {
        background: #e0e0e0;
      }
      .tab-button.active {
        background: #fff;
      }
      .tab {
        background: #fff;
      }
</style>