<template>
  <div id="app">
      <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: { 

  },
  data() {
      return {
          
        }
  }
}
</script>

<style>
    * {
        -webkit-tap-highlight-color: transparent;
    }

  body {
      background-color: #fff
  }

  body.no-scroll {
      position: fixed;
      overflow: hidden
  }

  body.hide-header-footer #main-wrapper {
      padding-top: 0!important
  }

  body.hide-header-footer #main-wrapper-header {
      display: none
  }

  body.redirect-page {
      background-color: #fff
  }

  body.with-white-back #main-wrapper {
      background-color: #fff
  }

  @media(max-width: 599px) {
      body.with-white-back-small #main-wrapper {
          background-color:#fff
      }
  }

  #main-wrapper {
      background: #f7f7f7;
      position: relative
  }

  @media only screen and (min-width: 600px) {
      #main-wrapper {
          padding-top:122px
      }
  }

  #main-wrapper.redirect-wrapper {
      background: #fff
  }

  #main-wrapper.redirect-wrapper #main-wrapper-header {
      height: 80px;
      min-height: 80px
  }

  #main-wrapper.redirect-wrapper #main-wrapper-header .main-header {
      height: 79px
  }

  #main-wrapper.redirect-wrapper .main-content {
      padding-top: 20px
  }

  #main-wrapper.main-wrapper-v4 {
      padding-top: 0
  }

  #main-wrapper.main-wrapper-v4 #main-wrapper-header {
      position: relative
  }

  @media only screen and (min-width: 600px) {
      .body-home #main-wrapper,.body-mp #main-wrapper,.body-db #main-wrapper {
          padding-top:122px
      }
  }

  .body-home #main-wrapper.no-cat,.body-mp #main-wrapper.no-cat,.body-db #main-wrapper.no-cat {
      padding-top: 108px
  }

  .body-home #main-wrapper.no-cat #main-wrapper-header,.body-mp #main-wrapper.no-cat #main-wrapper-header,.body-db #main-wrapper.no-cat #main-wrapper-header {
      min-height: 0
  }

  .body-home #main-wrapper.no-cat #main-wrapper-header .main-header,.body-mp #main-wrapper.no-cat #main-wrapper-header .main-header,.body-db #main-wrapper.no-cat #main-wrapper-header .main-header {
      height: auto
  }

  .body-home #main-wrapper.no-cat .page-alert-wrap,.body-mp #main-wrapper.no-cat .page-alert-wrap,.body-db #main-wrapper.no-cat .page-alert-wrap {
      padding-bottom: 0;
      padding-top: 30px
  }

  .body-db #main-wrapper.no-cat {
      padding-top: 108px
  }

  .body-mp #main-wrapper.no-cat {
      padding-top: 80px
  }

  .disable-body-clicks {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 10;
      cursor: default;
      display: block
  }

  .layout-loading:before {
      margin-top: -15.5px;
      margin-left: -15.5px;
      width: 31px;
      height: 31px;
      border: 2px solid rgba(153,153,153,.15);
      border-top-color: rgba(153,153,153,.8);
      box-sizing: border-box;
      -webkit-animation: spin .7s linear 300;
      animation: spin .7s linear 300
  }

  ::-ms-clear,::-ms-reveal {
      display: none
  }

  input,textarea,select {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
  }

  textarea,input[type=date],input[type=datetime],input[type=datetime-local],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week] {
      -webkit-appearance: none;
      background-color: #fff;
      font: 400 16px macan,helvetica neue,Helvetica,Arial,sans-serif;
      color: #7a7d85;
      border: 1px #b5b6ba solid;
      padding: 6px 7px 7px;
      margin: 0;
      resize: none;
      border-radius: 3px;
      box-sizing: border-box
  }

  textarea:active,textarea:focus,input[type=date]:active,input[type=date]:focus,input[type=datetime]:active,input[type=datetime]:focus,input[type=datetime-local]:active,input[type=datetime-local]:focus,input[type=email]:active,input[type=email]:focus,input[type=month]:active,input[type=month]:focus,input[type=number]:active,input[type=number]:focus,input[type=password]:active,input[type=password]:focus,input[type=search]:active,input[type=search]:focus,input[type=tel]:active,input[type=tel]:focus,input[type=text]:active,input[type=text]:focus,input[type=time]:active,input[type=time]:focus,input[type=url]:active,input[type=url]:focus,input[type=week]:active,input[type=week]:focus {
      border: 1px #1dbf73 solid;
      color: #222325;
      box-shadow: inset 2px 2px 2px #e4e5e7
  }

  textarea:disabled,textarea.disabled,input[type=date]:disabled,input[type=date].disabled,input[type=datetime]:disabled,input[type=datetime].disabled,input[type=datetime-local]:disabled,input[type=datetime-local].disabled,input[type=email]:disabled,input[type=email].disabled,input[type=month]:disabled,input[type=month].disabled,input[type=number]:disabled,input[type=number].disabled,input[type=password]:disabled,input[type=password].disabled,input[type=search]:disabled,input[type=search].disabled,input[type=tel]:disabled,input[type=tel].disabled,input[type=text]:disabled,input[type=text].disabled,input[type=time]:disabled,input[type=time].disabled,input[type=url]:disabled,input[type=url].disabled,input[type=week]:disabled,input[type=week].disabled {
      color: #95979d;
      border: 1px #dadbdd solid;
      box-shadow: none
  }

  textarea.with-error,input[type=date].with-error,input[type=datetime].with-error,input[type=datetime-local].with-error,input[type=email].with-error,input[type=month].with-error,input[type=number].with-error,input[type=password].with-error,input[type=search].with-error,input[type=tel].with-error,input[type=text].with-error,input[type=time].with-error,input[type=url].with-error,input[type=week].with-error {
      border-color: #f74040!important
  }

  textarea.with-warning,input[type=date].with-warning,input[type=datetime].with-warning,input[type=datetime-local].with-warning,input[type=email].with-warning,input[type=month].with-warning,input[type=number].with-warning,input[type=password].with-warning,input[type=search].with-warning,input[type=tel].with-warning,input[type=text].with-warning,input[type=time].with-warning,input[type=url].with-warning,input[type=week].with-warning {
      border-color: #ff9226
  }

  textarea.borderless,input[type=date].borderless,input[type=datetime].borderless,input[type=datetime-local].borderless,input[type=email].borderless,input[type=month].borderless,input[type=number].borderless,input[type=password].borderless,input[type=search].borderless,input[type=tel].borderless,input[type=text].borderless,input[type=time].borderless,input[type=url].borderless,input[type=week].borderless {
      background-color: transparent;
      width: 100%;
      padding: 0;
      border: 0;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none
  }

  textarea {
      font-size: 16px
  }

  select {
      background: #fff url(//assetsv2.fiverrcdn.com/assets/v2_globals/select-caret-77232a32032fb4e52f27c7587f3daa48.gif) no-repeat right center;
      font: 400 16px macan,helvetica neue,Helvetica,Arial,sans-serif;
      color: #62646a;
      border: 1px #b5b6ba solid;
      padding: 5px 25px 7px 10px;
      margin: 0;
      border-radius: 2px;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-indent: .01px;
      text-overflow: ''
  }

  select::-ms-expand {
      display: none
  }

  select.with-warning {
      border-color: #ff9226
  }

  button {
      font-family: macan,helvetica neue,Helvetica,Arial,sans-serif;
      outline: none;
  }

  .inp-uploadify {
      display: none
  }

  .btn-standard {
      background-color: #fff;
      font-size: 12px;
      line-height: 12px;
      font-weight: 600;
      display: inline-block;
      letter-spacing: 0;
      color: #777;
      white-space: nowrap;
      text-transform: uppercase;
      border: 1px #ccc solid;
      padding: 9px 20px 8px;
      margin: 0;
      cursor: pointer;
      -webkit-transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
      transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
      border-radius: 3px
  }

  .btn-standard:hover {
      color: #1dbf73;
      border: 1px #b3b3b3 solid;
      text-decoration: none
  }

  .btn-standard:active {
      color: #1dbf73;
      border-color: #ccc;
      box-shadow: inset 0 2px 5px #e3e3e3
  }

  .btn-standard.disabled,.btn-standard:disabled {
      color: #999!important;
      border-color: #ddd!important;
      background-color: #ddd!important;
      cursor: default!important;
      box-shadow: none!important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none
  }

  .btn-standard.in-progress {
      background-color: #ddd;
      background-position: center center;
      text-indent: -9999px!important;
      min-width: 70px
  }

  .btn-standard.in-progress:after,.btn-standard.in-progress:before {
      background-image: none
  }

  .btn-standard.capitalize {
      text-transform: capitalize
  }

  .btn-standard.up {
      text-transform: uppercase
  }

  .btn-standard.btn-white-grad {
      background-color: #fff;
      background: -webkit-linear-gradient(#fff,#f5f5f5);
      background: linear-gradient(#fff,#f5f5f5);
      border-color: #ddd;
      font-weight: 700;
      color: #303030
  }

  .btn-standard.btn-white-grad:hover,.btn-standard.btn-white-grad:focus {
      border-color: #c4c4c4
  }

  .btn-standard.btn-white-grad:active {
      box-shadow: inset 0 2px 5px rgba(0,0,0,.2)
  }

  .btn-standard.btn-white-grad.disabled {
      background: 0 0;
      text-shadow: none
  }

  .btn-standard.btn-green {
      background-color: #1dbf73;
      font-weight: 700;
      color: #fff!important;
      border: 1px solid transparent;
      padding-left: 10px;
      padding-right: 10px
  }

  .btn-standard.btn-green:hover,.btn-standard.btn-green:focus {
      color: #fff;
      text-decoration: none;
      box-shadow: 0 2px 5px 1px rgba(0,0,0,.3)
  }

  .btn-standard.btn-green-grad {
      background-image: none;
      background-color: #1dbf73;
      font-weight: 700;
      text-transform: none;
      color: #fff!important;
      border: 1px solid #1dbf73;
      padding-left: 10px;
      padding-right: 10px;
      text-shadow: 0 -1px 1px rgba(0,0,0,.2);
      box-shadow: none
  }

  .btn-standard.btn-green-grad:hover,.btn-standard.btn-green-grad:focus {
      color: #fff;
      border-color: #007e20;
      text-decoration: none
  }

  .btn-standard.btn-green-grad:active {
      border-color: #1dbf73;
      box-shadow: inset 0 2px 5px rgba(0,0,0,.2)
  }

  .btn-standard.btn-green-grad.disabled {
      color: #999!important;
      background: 0 0;
      text-shadow: none
  }

  .btn-standard.btn-green-grad.inactive {
      opacity: .3;
      -webkit-transition: opacity .2s;
      transition: opacity .2s
  }

  .btn-standard.btn-green-grad.inactive:hover {
      opacity: 1
  }

  .btn-standard.btn-red {
      background-color: #f99;
      color: #fff!important;
      border: 1px solid #ff4f4f;
      padding-left: 10px;
      padding-right: 10px
  }

  .btn-standard.btn-red:hover {
      color: #fff;
      border-color: #e54747;
      text-decoration: none
  }

  .btn-standard.btn-red:active {
      border-color: #f99;
      box-shadow: inset 0 2px 5px #c99999
  }

  .btn-standard.btn-red.strong-red {
      background-color: #d80000
  }

  .btn-standard.btn-azure {
      background-color: #41b4bb;
      border-color: #74c5ca;
      color: #fff;
      font-size: 14px;
      text-transform: capitalize
  }

  .btn-standard.btn-azure:hover,.btn-standard.btn-azure:focus {
      border-color: #4fb6bc
  }

  .btn-standard.btn-azure:active {
      box-shadow: inset 0 2px 5px rgba(0,0,0,.2)
  }

  .btn-standard.btn-azure.disabled {
      background: 0 0;
      text-shadow: none
  }

  .btn-standard.btn-azure.in-progress {
      background-color: #ddd
  }

  .btn-standard.btn-azure-grad {
      background-color: #40aeb8;
      background: -webkit-linear-gradient(#69c4c9,#42b4bb);
      background: linear-gradient(#69c4c9,#42b4bb);
      border-color: #40aeb8;
      font-weight: 700;
      color: #fff
  }

  .btn-standard.btn-azure-grad:hover,.btn-standard.btn-azure-grad:focus {
      border-color: #338a92
  }

  .btn-standard.btn-azure-grad:active {
      box-shadow: inset 0 2px 5px rgba(0,0,0,.2)
  }

  .btn-standard.btn-azure-grad.disabled {
      background: 0 0;
      text-shadow: none
  }

  .btn-standard.btn-transparent {
      background: 0 0;
      color: #f7f7f7;
      border: solid 2px rgba(255,255,255,.5)
  }

  .btn-standard.btn-transparent:hover,.btn-standard.btn-transparent:focus {
      border-color: #fff;
      -webkit-transition: border-color .2s;
      transition: border-color .2s
  }

  .btn-standard.btn-transparent:active {
      box-shadow: inset 0 2px 5px rgba(0,0,0,.2)
  }

  .btn-standard.btn-accept {
      padding-left: 40px;
      padding-right: 20px;
      position: relative;
      background: 0 0
  }

  .btn-standard.btn-reject {
      padding-left: 39px;
      padding-right: 18px;
      position: relative;
      background: 0 0
  }

  .btn-standard {
      background: #fff url(//assetsv2.fiverrcdn.com/assets/v2_buttons/btn-progress-ddd-d1fabc12eb87aeb53e074861fda5fa43.gif) no-repeat -2000px -2000px
  }

  .btn-standard.btn-azure.in-progress {
      background: #ddd url(//assetsv2.fiverrcdn.com/assets/v2_buttons/btn-progress-ddd-d1fabc12eb87aeb53e074861fda5fa43.gif) no-repeat center center!important
  }

  .btn-standard.btn-accept {
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/accept_decline-4cd7d12ca2bb77a25663a497f412a4b3.png) no-repeat 5px 1px
  }

  .btn-standard.btn-reject {
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/accept_decline-4cd7d12ca2bb77a25663a497f412a4b3.png) no-repeat 5px -33px
  }

  .btn-standard.disabled-check {
      padding-left: 32px!important;
      padding-right: 10px!important;
      position: relative;
      text-align: left!important
  }

  .btn-standard.disabled-check:after {
      content: '';
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-small-7cd8c8d6f2aa5c804800a2c50c2a7cb2.png) no-repeat 0 0;
      position: absolute;
      z-index: 1;
      display: block;
      overflow: hidden;
      background-position: -100px -650px;
      width: 19px;
      height: 18px;
      top: 4px;
      left: 10px
  }

  .btn-standard.btn-green.in-progress,.btn-standard.btn-green-grad.in-progress {
      background: #ddd;
      color: #ddd!important;
      position: relative;
      text-indent: 0!important;
      min-width: 0;
      -webkit-transition: none;
      transition: none
  }

  .btn-standard.btn-green.in-progress:before,.btn-standard.btn-green-grad.in-progress:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-top: -9px;
      margin-left: -9px;
      width: 18px;
      height: 18px;
      border: 2px solid rgba(153,153,153,.15);
      border-top-color: rgba(153,153,153,.8);
      box-sizing: border-box;
      -webkit-animation: spin .7s linear 300;
      animation: spin .7s linear 300;
      border-radius: 100%
  }

  .btn-standard.btn-white-grad.in-progress {
      background: #ddd;
      color: #ddd!important;
      position: relative;
      text-indent: 0!important;
      min-width: 0;
      -webkit-transition: none;
      transition: none
  }

  .btn-standard.btn-white-grad.in-progress:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-top: -9px;
      margin-left: -9px;
      width: 18px;
      height: 18px;
      border: 2px solid rgba(153,153,153,.15);
      border-top-color: rgba(153,153,153,.8);
      box-sizing: border-box;
      -webkit-animation: spin .7s linear 300;
      animation: spin .7s linear 300;
      border-radius: 100%
  }

  input.btn-standard.btn-green.disabled,input.btn-standard.btn-green-grad.disabled {
      border-color: #ddd!important;
      background-color: #ddd!important;
      cursor: default!important;
      pointer-events: none
  }

  input.btn-standard.btn-green.in-progress,input.btn-standard.btn-green-grad.in-progress {
      background: #ddd url(//assetsv2.fiverrcdn.com/assets/v2_buttons/btn-progress-ddd-d1fabc12eb87aeb53e074861fda5fa43.gif) no-repeat center center;
      text-indent: -9999px!important;
      min-width: 70px
  }

  input.btn-standard.btn-green.in-progress:after,input.btn-standard.btn-green.in-progress:before,input.btn-standard.btn-green-grad.in-progress:after,input.btn-standard.btn-green-grad.in-progress:before {
      background-image: none
  }

  .global-search-box {
      background: 0 0;
      border: 0;
      width: 100%
  }

  .global-search-box.omnibox-search {
      position: absolute;
      top: 0;
      left: 110px;
      width: auto;
      margin: 15px 0 16px;
      z-index: 10
  }

  .global-search-box.omnibox-search .inner {
      padding: 0;
      height: 32px
  }

  .global-search-box.omnibox-search .global-search {
      height: 32px;
      position: relative;
      -webkit-transition: opacity .2s;
      transition: opacity .2s
  }

  .global-search-box.omnibox-search .global-search.autocomplete-visible input[type=text] {
      width: 260px!important;
      border-radius: 4px 4px 0 0
  }

  .global-search-box.omnibox-search .global-search.autocomplete-visible .autocomplete-suggestions {
      width: 100%!important;
      border: 1px solid #eee;
      border-radius: 0 0 4px 4px;
      box-sizing: border-box
  }

  .global-search-box.omnibox-search .global-search.autocomplete-visible .autocomplete-suggestions .autocomplete-suggestion .autocomplete-user {
      border-top: 1px solid #eee
  }

  .global-search-box.omnibox-search .global-search input[type=text] {
      background-color: #fff;
      color: #0e0e0f;
      padding: 7px 30px 7px 10px;
      width: 220px;
      border-color: #eee;
      box-shadow: inset 0 3px 9px rgba(0,0,0,.08);
      border-radius: 3px;
      -webkit-transition: background-color .2s,border-color .2s,width .2s;
      transition: background-color .2s,border-color .2s,width .2s;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
  }

  .global-search-box.omnibox-search .global-search input[type=text]:focus {
      border-color: #fff;
      box-shadow: inset 0 3px 9px rgba(0,0,0,.13)
  }

  .global-search-box.omnibox-search .global-search::-webkit-input-placeholder {
      color: #555
  }

  .global-search-box.omnibox-search .global-search:-moz-placeholder {
      color: #555
  }

  .global-search-box.omnibox-search .global-search::-moz-placeholder {
      color: #555
  }

  .global-search-box.omnibox-search .global-search:-ms-input-placeholder {
      color: #555
  }

  .global-search-box.omnibox-search .global-search .magnify {
      top: 8px;
      right: 8px
  }

  .global-search-box.omnibox-search .global-search .error-container {
      display: none!important
  }

  .global-search-box.omnibox-search .global-search.with-error input[type=text] {
      border-color: #ff4d4d
  }

  .global-search-box.omnibox-search .global-search.with-error select {
      border: 1px solid #ff4d4d;
      border-right-color: #ddd
  }

  .global-search-box.omnibox-search .global-search.omnibox input[type=text] {
      border-radius: 3px
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions {
      margin-top: 5px;
      border-radius: 3px;
      box-shadow: 0 3px 13px 0 rgba(60,60,60,.4)
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion>div {
      font-size: 16px;
      padding: 8px 10px;
      color: #777
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion>div.eng-results {
      color: #777;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      padding-top: 15px;
      padding-bottom: 5px;
      border-top: none;
      cursor: default
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion>div.autocomplete-title {
      background-color: #f7f7f7;
      color: #777;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      padding: 5px 10px;
      border-top: none;
      cursor: default
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion:first-child>div {
      padding-top: 10px
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion:not(:first-child) .autocomplete-title {
      margin-top: 18px
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion:last-child>div {
      padding-bottom: 10px
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion i {
      color: #0e0e0f;
      margin-right: 5px
  }

  .global-search-box.omnibox-search .global-search.omnibox .autocomplete-suggestions .autocomplete-suggestion i.fa-search {
      margin-right: 3px
  }

  .global-search-box.omnibox-search .global-search.omnibox.wide-omnibox .autocomplete-suggestions {
      padding: 25px 25px 7px
  }

  .global-search-box.omnibox-search .global-search.omnibox.wide-omnibox .autocomplete-suggestions .autocomplete-suggestion>div {
      padding: 12px 25px
  }

  .global-search-box.omnibox-search .global-search.omnibox.wide-omnibox .autocomplete-suggestions .autocomplete-suggestion>div.autocomplete-title {
      background-color: #fff;
      padding-left: 0;
      padding-top: 0;
      font-size: 14px;
      text-transform: capitalize
  }

  .global-search-box.omnibox-search .global-search .guided-search {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      padding: 5px;
      line-height: 14px;
      box-sizing: border-box
  }

  .global-search-box.omnibox-search .global-search .guided-search .btn-subcategory {
      background: #41b4bb;
      color: #fff;
      float: left;
      font-size: 14px;
      padding: 4px 8px 4px 10px;
      font-weight: 600;
      margin-right: 15px;
      text-transform: capitalize;
      text-decoration: none;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      border-radius: 3px;
      -webkit-animation: popin .2s;
      animation: popin .2s
  }

  .global-search-box.omnibox-search .global-search .guided-search .btn-subcategory:after {
      content: '\00d7';
      font-family: FontAwesome;
      padding-left: 10px
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper {
      float: left;
      margin-right: 20px
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown {
      -webkit-animation: slideinleft .3s ease-out;
      animation: slideinleft .3s ease-out
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-toggle {
      background-color: transparent;
      border: none;
      color: #0e0e0f;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 600;
      padding: 2px 0;
      width: auto!important
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-toggle:after {
      content: '\f107';
      font-family: FontAwesome;
      font-size: 20px;
      color: #0e0e0f;
      position: static;
      padding-left: 5px;
      vertical-align: middle;
      display: inline-block
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-toggle.option-selected:after {
      color: #41b4bb
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-menu {
      margin-top: 35px;
      margin-left: -10px
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-menu li a {
      font-size: 14px;
      font-weight: 600;
      color: #0e0e0f;
      text-transform: capitalize
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-menu li a.selected {
      background-color: #eee;
      color: #41b4bb
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-menu li a:hover,.global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown .dropdown-menu li a.focused {
      color: #41b4bb
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown.open .dropdown-toggle {
      color: #41b4bb
  }

  .global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .fake-dropdown.open .dropdown-toggle:after {
      color: #41b4bb
  }

  .global-search-box .inner {
      max-width: 988px;
      height: 52px;
      padding: 15px 30px 0;
      margin: 0 auto
  }

  .global-search-box .global-search {
      float: right
  }

  .global-search-box label {
      color: #999;
      line-height: 37px;
      font-weight: 700;
      text-transform: uppercase
  }

  .global-search-box .btn-submit {
      float: right
  }

  .search-box-module {
      display: inline-block;
      text-align: left;
      left: 0!important;
      position: relative!important;
      width: auto!important
  }

  .search-box-module input[type=submit] {
      border: 1px solid #1dbf73;
      background-color: #1dbf73;
      background: -webkit-linear-gradient(#35c350,#03b525);
      background: linear-gradient(#35c350,#03b525);
      padding: 16px 35px;
      height: 50px;
      text-shadow: none;
      border-radius: 0 3px 3px 0
  }

  .search-box-module input[type=submit]:hover {
      border: 1px solid #1dbf73
  }

  .search-box-module .global-search {
      height: 32px;
      position: relative
  }

  .search-box-module .global-search input[type=text] {
      border-radius: 3px 0 0 3px!important;
      border: none;
      box-sizing: border-box;
      height: 50px;
      width: 220px;
      min-width: 426px;
      font-size: 18px;
      font-weight: 400;
      background-color: #fff;
      color: #0e0e0f;
      padding: 7px 30px 7px 10px;
      -webkit-transition: background-color .2s,border-color .2s,width .2s;
      transition: background-color .2s,border-color .2s,width .2s
  }

  .guest-homepage-search.global-search-box.omnibox-search .global-search .guided-search .btn-subcategory {
      line-height: 32px
  }

  .guest-homepage-search.global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .dropdown-toggle {
      position: relative;
      line-height: 32px
  }

  .guest-homepage-search.global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .dropdown-menu {
      width: auto!important
  }

  .guest-homepage-search.global-search-box.omnibox-search .global-search .guided-search .dropdown-wrapper .dropdown-menu a {
      position: relative
  }

  .global-search {
      position: relative
  }

  .global-search.searching .loading {
      display: block
  }

  .global-search.searching .loading:before {
      margin-top: -7.5px;
      margin-left: -7.5px;
      width: 15px;
      height: 15px;
      border: 2px solid rgba(153,153,153,.15);
      border-top-color: rgba(153,153,153,.8);
      box-sizing: border-box;
      -webkit-animation: spin .7s linear 300;
      animation: spin .7s linear 300
  }

  .global-search.searching .magnify {
      display: none
  }

  .global-search input[type=text] {
      font-size: 14px;
      font-weight: 400;
      padding: 9px 45px 9px 10px;
      width: 260px;
      border-color: #797979;
      box-sizing: border-box
  }

  .global-search .loading {
      display: none;
      position: absolute;
      z-index: 2;
      top: 15px;
      right: 15px
  }

  .global-search .magnify {
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-slim-small-1e1ab24b9f01c6e2f0d84c75f61e0c65.svg) no-repeat -300px -50px;
      background-size: 500px 200px;
      width: 15px;
      height: 15px;
      position: absolute;
      z-index: 1;
      top: 9px;
      right: 9px
  }

  .global-search .error-container p {
      padding: 10px 0 0;
      border: 0;
      font-size: 11px
  }

  @-webkit-keyframes slideinleft {
      0% {
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%)
      }

      80% {
          -webkit-transform: translateX(15%);
          transform: translateX(15%)
      }

      100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%)
      }
  }

  @keyframes slideinleft {
      0% {
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%)
      }

      80% {
          -webkit-transform: translateX(15%);
          transform: translateX(15%)
      }

      100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%)
      }
  }

  @-webkit-keyframes popin {
      0% {
          -webkit-transform: scale(1.02);
          transform: scale(1.02)
      }

      50% {
          -webkit-transform: scale(.9);
          transform: scale(.9)
      }

      100% {
          -webkit-transform: scale(1);
          transform: scale(1)
      }
  }

  @keyframes popin {
      0% {
          -webkit-transform: scale(1.02);
          transform: scale(1.02)
      }

      50% {
          -webkit-transform: scale(.9);
          transform: scale(.9)
      }

      100% {
          -webkit-transform: scale(1);
          transform: scale(1)
      }
  }

  .autocomplete-suggestions {
      background-color: #fff;
      border: 1px solid #ccc;
      border-top: 0
  }

  .autocomplete-suggestions .autocomplete-suggestion:first-child .autocomplete-user {
      border-top: 0
  }

  .autocomplete-suggestions .autocomplete-suggestion>div {
      font-size: 14px;
      padding: 6px 10px;
      color: #4a73e8;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
  }

  .autocomplete-suggestions .autocomplete-suggestion .autocomplete-user {
      color: #555;
      border-top: 1px #ddd solid;
      padding: 7px 10px 8px
  }

  .autocomplete-suggestions .autocomplete-suggestion .eng-results {
      border-top: 1px solid #eee;
      color: #777;
      text-transform: capitalize;
      cursor: default
  }

  .autocomplete-suggestions .autocomplete-suggestion .en {
      padding-left: 20px!important
  }

  .autocomplete-suggestions .autocomplete-suggestion .autocomplete-category {
      padding-left: 20px
  }

  .autocomplete-suggestions .autocomplete-suggestion .autocomplete-category span {
      color: #777
  }

  .autocomplete-suggestions .autocomplete-suggestion strong {
      color: #0e0e0f
  }

  .autocomplete-suggestions .autocomplete-suggestion em {
      font-style: normal;
      font-weight: 700;
      color: #555
  }

  .autocomplete-suggestions .autocomplete-suggestion em strong {
      color: #555
  }

  .autocomplete-suggestions .autocomplete-selected {
      background-color: #eee
  }

  .popup-base {
      display: none
  }

  #popup-user,.popup-user-social,.popup-user-facebook {
      display: none
  }

  #popup-user .popup-base,.popup-user-social .popup-base,.popup-user-facebook .popup-base {
      display: block
  }

  body.disable-scrolling {
      height: 100%;
      overflow: hidden
  }

  .popup-instant-link,.popup-instant-reg {
      margin-bottom: 20px
  }

  .popup-instant-link .main-message,.popup-instant-reg .main-message {
      margin-top: 0;
      text-align: center
  }

  .popup-instant-link .main-message .instant-link-intro,.popup-instant-reg .main-message .instant-link-intro {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      padding: 0 0 20px
  }

  .popup-instant-link .main-message.divi-wrapper,.popup-instant-reg .main-message.divi-wrapper {
      padding-bottom: 0;
      margin-top: 20px
  }

  .popup-instant-link a.disabled,.popup-instant-reg a.disabled {
      cursor: default;
      color: #666
  }

  .popup-instant-reg .popup-content-login .main-message h3 {
      padding-bottom: 20px
  }

  .popup-instant-reg .social-login {
      margin-top: 20px
  }

  .popup-instant-reg .form-row-buttons p {
      padding-top: 13px
  }

  .error-container {
      display: none
  }

  .error-container .msg-error {
      font-size: 12px;
      font-weight: 700;
      color: #ff4d4d;
      text-align: left;
      padding: 10px;
      margin: -3px 0 0
  }

  .error-container .msg-error a {
      color: #ff4d4d;
      text-decoration: underline
  }

  @media(max-width: 1490px) {
      .mp-hero-new img {
          display:none
      }
  }

  body.istablet body {
      min-width: 1024px
  }

  body.istablet .main-header {
      height: auto
  }

  body.istablet #main-wrapper-header,body.istablet #action-bar {
      position: static
  }

  body.istablet #main-wrapper {
      width: 1024px;
      overflow: hidden;
      padding-top: 0!important
  }

  body.istablet .profiler-results {
      display: none!important
  }

  body.istablet .box-row.mp-hero-connector,body.istablet .mp-hero-connector {
      background-image: none;
      background-color: #eee;
      height: 39px;
      border-radius: .5px
  }

  body.istablet .mp-box.mp-box-wide {
      background-image: none
  }

  body.istablet .mp-box.mp-box-wide.wide-divi:after {
      display: none
  }

  @media only screen and (min-device-width: 768px) and (max-device-width:1024px) {
      html body {
          min-width:1024px
      }

      .mp-box {
          border-radius: .5px
      }

      .main-header {
          height: auto
      }

      #main-wrapper-header,#action-bar {
          position: static
      }

      #main-wrapper {
          width: 1024px;
          overflow: hidden;
          padding-top: 0!important
      }
  }

  .pro-badge.small {
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/pro-badge-small-515481c3850e2d014a56af5384a0b873.svg) no-repeat top left;
      background-size: 24px 31px;
      width: 24px;
      height: 31px;
      text-indent: -10000px;
      position: absolute;
      top: 78px;
      right: 5px;
      z-index: 1
  }

  .pro-badge.card-badge {
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/pro-badge-29f1644c2f3e5fdd5303fbf3ecf0c879.svg) no-repeat top left;
      background-size: 26px 41px;
      position: absolute;
      z-index: 5;
      top: 130px;
      right: 12px;
      left: auto;
      width: 26px;
      height: 41px;
      text-indent: -3000px
  }

  .pro-badge.card-badge.outline {
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/pro-badge-outline-71f3122820c3b4df119ba68d67f06472.svg) no-repeat top left;
      background-size: 32px 51px;
      width: 32px;
      height: 51px;
      top: 125px
  }

  body.pro-experience .pro-badge.small {
      background: transparent url(//assetsv2.fiverrcdn.com/assets/v2_globals/pro-exp-tag-64672e623f023d5b2ae3f6add73c435e.svg) no-repeat top left;
      width: 34px;
      height: 18px
  }

  .grid-15>.col-15-xs {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
  }

  .grid-15>[class*=col-] {
      box-sizing: border-box;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
      padding: 0 6px;
  }

  .grid-15 {
      position: relative;
      box-sizing: border-box;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-left: -6px;
      margin-right: -6px;
  }

  h2, .text-display-2 {
      font-size: 28px;
      line-height: 130%;
  }
  
  h1, h2, 
  h3, h4, 
  h5, h6, 
  .text-display-0, .text-display-1, 
  .text-display-2, .text-display-3, 
  .text-display-4, .text-display-5, 
  .text-display-6, .text-display-7 {
      font-weight: 700;
      color: #404145;
  }

  .header-logo {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  .responsive-header-search {
    position: relative;
  }

  .responsive-header-search input[type=search] {
      padding: 7px 7px 7px 28px;
      border-color: #ddd;
      box-shadow: none;
  }

  .responsive-header-search input[type=search], 
  .responsive-header-search input[type=text] {
      width: 100%;
  }

  .clickable, 
  input[type=button], 
  input[type=submit], 
  button {
      cursor: pointer;
  }

  button, input, select, textarea {
      margin: 0;
      padding: 0;
  }

  button {
      width: auto;
      overflow: visible;
  }

  .max-width-container {
      width: 100%;
      box-sizing: border-box;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #fff;/*#2c3e50;*/
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input, textarea, select {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul, ol, nav ul, nav ol {
    list-style: none;
    list-style-image: none;
  }

  textarea, 
  input[type=date], 
  input[type=datetime], 
  input[type=datetime-local], 
  input[type=email], input[type=month], 
  input[type=number], input[type=password], 
  input[type=search], input[type=tel], 
  input[type=text], input[type=time], 
  input[type=url], input[type=week] {
      -webkit-appearance: none;
      background-color: #fff;
      font: 400 16px macan,helvetica neue,Helvetica,Arial,sans-serif;
      color: #7a7d85;
      border: 1px #b5b6ba solid;
      padding: 6px 7px 7px;
      margin: 0;
      resize: none;
      border-radius: 3px;
      box-sizing: border-box;
  }

  input, select {
      vertical-align: middle;
  }

  html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: 0 0;
  }

  article,
   aside, figure, footer, header, hgroup, nav, section, main {
      display: block;
  }

  @media only screen and (min-width: 1160px){
    .responsive-header-search input[type=search] {
        font-size: 15px;
        padding-top: 8px;
        border-right: 0;
        border-radius: 3px 0 0 3px;
    }

    .responsive-header-search {
        max-width: 28%;
    }

    .max-width-container {
        max-width: 1400px;
        margin: 0 auto;
    }
  }

  @media only screen and (min-width: 900px){
    .grid-15>.col-3-md {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        max-width: 20%;
    }
  }

  @media only screen and (min-width: 600px){
    .grid-15>[class*=col-] {
        padding: 0 8px;
    }

    h2, .text-display-2 {
        font-size: 32px;
        line-height: 120%;
    }

    .responsive-header-search {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        flex: 1;
        width: 100%;
        margin-top: 0;
    }

    .max-width-container {
        padding: 32px 32px 64px;
    }
  }
</style>